<h3 class="verifyDetails">Forgot Password</h3>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="verifyDetails">
  <div class="form-group col-md-3">
    <input
      type="email"
      class="form-control"
      id="inputEmail"
      placeholder="Email"
      formControlName="email"
      [ngClass]="{
        'is-invalid': isUserFormSubmitted && userFormControls['email'].errors
      }"
    />
    <div
      *ngIf="isUserFormSubmitted && userFormControls['email'].errors"
      class="invalid-feedback"
    >
      <div *ngIf="userFormControls['email'].errors['required']">
        Email is required
      </div>
      <div *ngIf="userFormControls['email'].errors['email']">
        Please enter valid email
      </div>
    </div>
  </div>
  <div class="form-group col-md-3">
    <input
      type="date"
      class="form-control"
      id="inputDOB"
      placeholder="DOB"
      formControlName="dob"
      [ngClass]="{
        'is-invalid': isUserFormSubmitted && userFormControls['dob'].errors
      }"
    />
    <div
      *ngIf="isUserFormSubmitted && userFormControls['dob'].errors"
      class="invalid-feedback"
    >
      <div *ngIf="userFormControls['dob'].errors['required']">
        DOB is required
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h3 class="resetDetails hideElement">Reset Password</h3>
<form [formGroup]="verifyPass" (ngSubmit)="onResetPassword()" class="resetDetails hideElement">
  <div class="form-group col-md-3">
    <input
      type="password"
      class="form-control"
      id="inputPassword"
      placeholder="Password"
      formControlName="password"
      [ngClass]="{ 'is-invalid': isUserFormSubmitted && verifyFormControls['password'].errors}"
    />
    <div *ngIf="isUserFormSubmitted && verifyFormControls['password'].errors" class="invalid-feedback">
      <div *ngIf="verifyFormControls['password'].errors['required']">Password is required</div>
      <div *ngIf="!verifyFormControls['password'].errors['minLength'] && !verifyFormControls['password'].errors['required']">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group col-md-3">
    <input
      type="password"
      class="form-control"
      id="inputConfirmPassword"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
      [ngClass]="{ 'is-invalid': isUserFormSubmitted && verifyFormControls['confirmPassword'].errors}"
    />
    <div *ngIf="isUserFormSubmitted && verifyFormControls['confirmPassword'].errors" class="invalid-feedback">
      <div *ngIf="verifyFormControls['confirmPassword'].errors['required']">Confirm Password is required</div>
      <div *ngIf="verifyFormControls['confirmPassword'].errors['appConfirmEqualValidator']">Password Mismatch</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Reset</button>
</form>

