.outerDiv{
  margin: 5%;
}
.newPostDiv{
  float: left;
  margin-left: 10%;
  width: 50%;
  height: 5% !important;
}
hr{
  margin: 2%;
}
p{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
#postPara, #postImg{
  width: 75%;
  float: left;
  margin: 2.5%;
}
#postBtn{
  width: 14%;
  float: left;
  margin: 2.5%;
}
.existingPostDiv{
  margin-top: 3%;
  margin-right: 5%;
  float: right;
  width: 67%;
  border-color: #1f1f1f;
  border-width: 1px;
  border-style: solid;
  padding: 2%;
  margin-bottom: 1%;
}
#homePostImage{
  float: left;
  width: 30%;
}
.postTextCSS{
  float: left;
  text-align: left !important;
  margin-left: 2%;
  width: 55%;
}
#postImage{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: fill;
}
#blockPostBtn{
  float: left;
  width: 12%;
  margin-bottom: 1%;
}
