<div class="outerDiv">
  <app-user-basic-info></app-user-basic-info>
  <div *ngFor="let user of userData; index as i">
    <div class="friendListDiv">
      <div id="friendImageDiv">
        <img src="{{ user.photo }}" id="friendImage" />
      </div>
      <div>
        <p class="friendNameTextCSS"><b>{{ user.firstName }} {{ user.lastName}}</b></p>
      </div>
      <button type="submit" class="btn btn-primary" (click)="changeUserStatus(i)"
      id="friendBtn" #ButtonText>{{ buttonText[i] }}</button>
    </div>
  </div>
  </div>
